:root {
  --color-primary: #2E2620;
  --color-secoddary: #EC7D23;
  --color-tetriary: #2E2620;

}


@font-face {
  font-family: "Great";
  src: url("/fonts/GreatVibes-Regular\ copy.ttf");
}


body {
background-color: rgb(0, 0, 0);
margin: 0;
font-family: "Great",'Times New Roman', Times, serif;
}


h1 {
       font-family: Arial, Helvetica, sans-serif;
      }

      a {
text-decoration: none;
border: 1px solid;
padding: 5px;
border-radius: 3px;
color: rgb(255, 255, 255);
width: 100px;
display: block;
text-align: center;
      }


  a:hover {
  box-shadow: 2 px 2px rgba(47, 45, 45, 0.784);
  background-color: var(--color-secoddary);
          }

a:active {
  box-shadow: none;
         }


.header {
background-color: var(--color-primary);
padding: 10px 0 10px 0;
text-align: center;
margin:0;

        }
  

.menu { 
  background-color:var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px 0 20px 0;
margin: 0;
      }

.menu-item {
  padding: 0 50px 0 50px;
}

 .footer {
color: rgb(255, 255, 255);
  padding: 30px 0 30px 0;
  background: linear-gradient(60deg, rgb(216, 150, 50) 0%, rgba(252, 85, 157, 1) 51%, rgba(252, 194, 70, 1) 99%);
  /*
  var(--color-tetriary);
  */
text-align: center;
 }


      .container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 60px; 
}



 .aqua-div {
  background-color: var(--color-secoddary);
  text-align:  end;
  padding: 30px 60px;
 }



      .aqua-div {
        background-color: var(--color-secoddary)
      }


.container {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 0 60px;
            }


.absolute-position {
position: fixed;
top: 40%;
right: 20px;
background-color: var(--color-tetriary);
width: 60px;
height: 60px;
border-radius: 50%;
color: azure;
text-align: center;
                   }

.padding40 {
padding: 20px 0;
           }



.link {
   border: none;
   padding: 0;
   width: auto;
   color: aliceblue;
      }

.link:hover {
box-shadow: none;
background-color: var(--color-tetriary);
             }

.link:active {
box-shadow: none;
             }



.section {
  display: flex;
  width: 200px; 
  height: 200px; 
 /*
  border-radius: 150px 10px; 
 */
  

  min-width: 200px; 
  min-height: 200px; 
  max-width: 200px; 
  max-height: 200px; 
border-radius: 100px 100px 100px 0;
background-color: var(--color-secoddary);
margin: 50px;
align-items: center;

         }


